[bumpversion]
current_version = 1.0.2
commit = True
tag = True

[bumpversion:file:setup.py]
search = version='{current_version}'
replace = version='{new_version}'

[bumpversion:file:docs/conf.py]
search = release = '{current_version}'
replace = release = '{new_version}'

[bumpversion:file:socceraction/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
